.col{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    background-color: aqua;
    color: black;
}
.container{
    display: flex;

}
body{
    display: flex;
    /* align-items: center; */
    margin-top: 200px;
    justify-content: center;
}
